# Terraform providers via Git LFS
terraform/.terraform/providers/**/* filter=lfs diff=lfs merge=lfs -text

# Explicitly mark these files as text
*.tf text
*.yml text
*.hcl text
.cursor/rules/* text
terraform/.terraform.lock.hcl !text !filter !merge !diff
